@import "/css/reset.css";

body {
    display: flex;
    background-color: black;
}

.hold {
    position: fixed;
    /* display: flex; */
    position: relative;
}

.sideber {
    background-color: #1E1F22;
    width: 72px;
    height: 100vh;   
    display: flex;
    justify-content: center;
}

.sideber__column {
    display: block;
}

.sideber__img img{
    margin-top: 10px;
    /* margin-left: 5px; */
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.profile {
    display: flex;
    background-color: #232428;
    align-items: center;
    width: 240px;
    height: 50px;
    position: absolute;
    left: 72px;
    bottom: 0px;
    color: white;
    
}

.profile__img {
    display: flex;
    position: relative;
}

.profile__img img {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    margin: 0px 7px;
}

.profile__img span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #23A559;
    border-radius: 10px;
    border: #232428 solid 3.3px;
    position: absolute;
    bottom: -3.25px;
    right: 3.6px;
}

.profile__name{
    display: block;
    font-size: 14px;
    margin-right: 75px;
}

.profile__icon {
    margin-left: 13px;
}

.profile__icon i{
    margin-right: 5px;
}

.nav {
    background-color: #2B2D31;
    width: 240px;
    height: 100vh;
}

.nav input {
    display: block;
    width: 215px;
    height: 25px;
    background-color: #1E1F22;
    border: none;
    border-radius: 3px;
    margin: 10px auto;
}

.nav input::placeholder {
    color: #949BA4;
    padding: 0 0 0 5px;
}

.nav span {
    display: block;
    border: #1F2023 solid 0.6px;
    margin-bottom: 6px;
}

.nav__more a{
    color: #949BA4;
}

.nav__more {
    display: flex;
    margin: 2px 8px;
    color: #949BA4;
    width: 224px;
    height: 42px;
    box-sizing: border-box;
    align-items: center;
}


.nav__more i {
    display: block;
    margin: 10px;
}

.nav__more .fa-user {
    padding-left: 2px;
}